{{ define "main" }}  

<article class="archive">
  <header style="text-align: center;">
    <h1>
      Latest posts
    </h1>
    <div class="title-description">
      Here is the combination of <a href="/micro">micro-posts</a> and longer posts from <a href="/post">blog</a>.
    </div>
  </header>
  <div class="archive-list">
    {{ $paginator := .Paginate (where site.RegularPages "Params.draft" false )}}
    {{ range $paginator.Pages }}
      <div class="micro">
        {{ if eq .Params.Type "tweet" }}
          {{ partial "micro.html" . }}
        {{ else }}
          <span>
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006-01-02" }}</time>
            <a href="{{ .Permalink }}">{{ .Params.Title }}</a>
          </span>
        {{ end }}
      </div>
    {{ end }}
  </div>
  {{ partial "pagination.html" . }}
</article>

{{ end }} 