{{ define "main" }}  

<article class="archive">
  <header style="text-align: center;">
    <h1>
      Latest micro-posts
    </h1>
    Here is the <a href="/micro">full archives</a> of micro-posts. Longer posts are available in <a href="/post">blog</a>.
  </header>
  <div class="archive-list">
    {{ $paginator := .Paginate (where site.RegularPages "Params.type" "tweet")}}
    {{ range $paginator.Pages }}
      <div class="micro">
      {{ if .Date }}
        <a href="{{ .Permalink }}">
          <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006-01-02" }}</time>
        </a>
        {{ .Content }}
      </div>
      {{ end }}
    {{ end }}
  </div>
  {{ partial "pagination.html" . }}
</article>

{{ end }} 